#tweets-container article.tweet header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 70px;
  background-color: rgb(236, 240, 241);
}

#tweets-container article.tweet {
  border: 1px solid grey;
  border-radius: 3px;
  margin: 2em;
  color: grey;
  overflow: hidden;
  opacity: 0.5;
}
#tweets-container article.tweet img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  opacity: 0.5;
}

#tweets-container article.tweet:hover {
  border-color: rgb(52, 73, 94);
  color: black;
  opacity: 1;
}

#tweets-container article.tweet:hover img {
  opacity: 1;
}

#tweets-container article.tweet:hover .icon {
  opacity: 1;
}

#tweets-container article.tweet footer {
  border-top: 1px solid grey;
  height: 2em;
  display: flex;
}

#tweets-container article.tweet footer .post-date {
  align-self: center;
  margin-left: 5px;
}

#tweets-container article.tweet footer span {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-left: auto;
}

#tweets-container article.tweet footer .icon {
  color: #00a087;
  margin-left: auto;
  padding: 0 5px;
  opacity: 0;
}

#tweets-container article.tweet .username {
  margin-bottom: 40px;
}

#tweets-container article.tweet .handle {
  font-weight: 400;
  margin-left: auto;
  padding-right: 10px;
  padding-bottom: 20px;
}

#tweets-container article.tweet .tweet-content {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  height: 90px;
}
